* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: coral;
}

.container {
    width: 70%;
    margin: 0 auto;
}

#header  h1 {
    color: white;
    font-family: sans-serif;
    padding: 10px;
}

#navbar {
    background-color: #333;
}

#navbar ul li {
    list-style-type: none;
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 10px;
    display: inline-block;
    font-family: sans-serif;
}

#navbar ul li:first-child a {
    padding-left: 0;
}

#showcase {
    background-image:  url(images/showcase.jpg);
    background-position: center  bottom;
    min-height: 300px;
}

#showcase h1 {
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
    padding-top: 60px;
    text-align: center;
}

#main {
    color: #555;
    margin-top: 30px;
}

#main h3 {
    margin-bottom: 20px;
}

.content {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-right: 20px;
}

.sidebar {
    float: left;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
}

.clr {
 clear: both;
}

#footer {

    background-color: #333 ;
    color: white;
    text-align: center;
    margin-top: 10%;
    font-family: sans-serif;
    padding: auto;
}

#school {
    padding: 30px 0;
}

#school h3 {
    font-family: sans-serif;
}

#school p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#classroom {
    padding: 10px 0;
}

#classroom h3 {
    font-family: sans-serif;
}

#classroom p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#library {
    padding: 10px 0;
}

#library h3 {
    font-family: sans-serif;
}

#library p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#physicaleducation {
    padding: 10px 0;
}

#physicaleducation h3 {
    font-family: sans-serif;
}

#physicaleducation p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#diningroom {
    padding: 10px 0;
}

#diningroom h3 {
    font-family: sans-serif;
}

#diningroom p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#services {
    padding: 30px 0;
}

#services h3 {
    font-family: sans-serif;
}

#services p {
    font-family: sans-serif;
    color: #555;
    margin: 10px 0;
}

#form {
    text-align: center;
    font-family: sans-serif;
    color: #555;
    padding-top: 40px;
    display: inline;
}

.btn {
	display: inline-block;
    font-size: 10px;
	color: #fff;
	background-color: #333;
	padding: 13px 150px;
	border: none;
    cursor: pointer;
    margin: 10px 0;
}
